<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="ApiRootUrl" value="http://localhost:61587" />
    <add key="ApiVersion" value="/v1" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

</configuration>
